@import url('https:://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
img {
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 2px 5px rgba(128, 0, 128, 0.2);
    margin-left: 20px;
    margin-right: 100px;
}
.texto-grande {
    font-size: 70px;
    color: #800080;
    text-align: center;
    margin: 0 auto; 
}
.barraporcent {
    background-color: #e6e6fa;
    border-radius: 10px;
    width: 250px;
    height: 10px;
    position: relative;
    overflow: hidden;
}

.sub-barra {
    background-color: #d8b4e2;
    border-radius: 10px; 
    width: 87%;
    height: 10px;
    position: absolute; 
    top: 0;
    left: 0;
}
.sub1-barra {
    background-color: #d8b4e2;
    border-radius: 10px;
    width: 70%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.sub2-barra {
    background-color: #d8b4e2;
    border-radius: 10px; 
    width: 50%;
    height: 10px;
    position: absolute; 
    top: 0;
    left: 0;
}
.sub3-barra {
    background-color: #d8b4e2;
    border-radius: 10px; 
    width: 45%; 
    height: 10px;
    position: absolute; 
    top: 0; 
    left: 0;
}
.sub4-barra {
    background-color: #d8b4e2;
    border-radius: 10px; 
    width: 30%; 
    height: 10px; 
    position: absolute; 
    top: 0; 
    left: 0; 
}
.destination{
    width: 640px;
    height: 400px;
}

.tenist{
    height: 270px;
    width:fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.location-container {
    display: flex;               
    align-items: center;         
    padding: 1px;              
}

.location-icon {
    width: 20px;                
    height: 20px;
    margin-right: 8px;     
}

.location-text {
    font-size: 16px;        
    color: #333;              
}

.relat{
    position:relative;
}

.flags{
    width: 200px;
    height: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

.centerTXT{
    text-align: center;
}

.JustTXT{
    text-align: justify;
}
   
.circularimg {
    border-radius: 50%;
    width: 200px;
    margin: 50px;
}

.contenedor{
    display: flex;
}

.contenedor1{
    height: 140px;
    display: flex;
}

.vl {
    border-left: 6px solid rgb(148, 39, 133);
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
}
.v2 {
    border-left: 2px solid rgb(148, 39, 133);
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
}

h1{
    color: #800080; 
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
h2, h3, h4{
    color: #800080; 
    margin-top: 20px;
    margin-bottom: 20px;
}

nav{
    max-width: 4000px;
    margin: 10px;
    background-color: #ff0095;
    color: #e6e6fa;
    font-size: 20px;
    margin-top: 0px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: lavender;
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: pink;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: thistle;
}
.menu-horizontal > li:hover .menu-vertical{
    display: block;
    background-color: #d8b4e2;
}
.menu-vertical > li:hover{
    background-color: #800080;;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    background-color: #d8b4e2;
}

.centrado {
    width: 50%; 
    margin: 0 auto; 
    border: 1px solid #800080; 
    padding: 20px;
}

.centrado1 {
    width: 50%; 
    margin: 0 auto; 
    padding: 20px;
}

.centrado-enter {
    width: 62%; 
    margin: 0 auto; 
    padding: 20px;
}

div {
    align-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f7d1e3;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 8px solid #800080; 
}

th, td {
    padding: 10px;
    text-align: left;
    border: 3px solid #800080;
}

hr{
    color: #800080;
}

p{
    font-family: Georgia, serif;
    padding: 1px;
    text-align: justify;
    margin-right: 50px;
    margin-left: 30px;
}

.CenterPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
